In [1]:
import pandas as pd

In [2]:
test = pd.DataFrame(
    {
        'Acolumn':[1, 2, 3],
        'Bcolumn':[4, 5, 6]
    }
)

In [3]:
test

   Acolumn  Bcolumn
0        1        4
1        2        5
2        3        6

In [4]:
# Acolumnの2未満の行だけ参照

test[test["Acolumn"] < 2]

   Acolumn  Bcolumn
0        1        4

In [5]:
# Acolumnで値が2未満か比較する
test["Acolumn"] < 2

0     True
1    False
2    False
Name: Acolumn, dtype: bool