In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.2'

In [3]:
import csv

In [5]:
df = pd.read_csv("../sukkiri-ml-codes/datafiles/KvsT.csv")

In [6]:
df

     身長  体重  年代    派閥
0   170  60  10   きのこ
1   172  65  20   きのこ
2   170  60  30  たけのこ
3   170  65  40   きのこ
4   177  65  10  たけのこ
5   168  55  20   きのこ
6   169  65  30  たけのこ
7   170  62  40  たけのこ
8   180  70  10  たけのこ
9   170  68  20   きのこ
10  165  65  40  たけのこ
11  170  72  20   きのこ
12  175  77  40  たけのこ
13  170  65  30  たけのこ
14  170  65  30  たけのこ
15  155  56  20   きのこ
16  160  56  20  たけのこ
17  170  65  40   きのこ
18  175  60  20  たけのこ

In [1]:
data = {
    "松田の労働時間":[160, 160],
    "浅木の労働時間":[161, 175]
}
data

{'松田の労働時間': [160, 160], '浅木の労働時間': [161, 175]}

In [3]:
import pandas as pd

df = pd.DataFrame(data)
df

   松田の労働時間  浅木の労働時間
0      160      161
1      160      175

In [4]:
print(type(df))
df.shape

<class 'pandas.core.frame.DataFrame'>

(2, 2)

In [5]:
df.index = ["4月", "5月"]

In [6]:
df

    松田の労働時間  浅木の労働時間
4月      160      161
5月      160      175

In [9]:
df.columns = ["松田の労働（h）", "浅木の労働（h）"]

In [10]:
df

    松田の労働（h）  浅木の労働（h）
4月       160       161
5月       160       175

In [11]:
df = pd.read_csv("../sukkiri-ml-codes/datafiles/KvsT.csv")

In [12]:
df

     身長  体重  年代    派閥
0   170  60  10   きのこ
1   172  65  20   きのこ
2   170  60  30  たけのこ
3   170  65  40   きのこ
4   177  65  10  たけのこ
5   168  55  20   きのこ
6   169  65  30  たけのこ
7   170  62  40  たけのこ
8   180  70  10  たけのこ
9   170  68  20   きのこ
10  165  65  40  たけのこ
11  170  72  20   きのこ
12  175  77  40  たけのこ
13  170  65  30  たけのこ
14  170  65  30  たけのこ
15  155  56  20   きのこ
16  160  56  20  たけのこ
17  170  65  40   きのこ
18  175  60  20  たけのこ

In [13]:
df["派閥"]

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [15]:
col = ["身長", "体重"]
df[col].head(5)

    身長  体重
0  170  60
1  172  65
2  170  60
3  170  65
4  177  65

In [16]:
# 特徴量の抽出

xcol = ["身長", "体重", "年代"]
x = df[xcol]
x

     身長  体重  年代
0   170  60  10
1   172  65  20
2   170  60  30
3   170  65  40
4   177  65  10
5   168  55  20
6   169  65  30
7   170  62  40
8   180  70  10
9   170  68  20
10  165  65  40
11  170  72  20
12  175  77  40
13  170  65  30
14  170  65  30
15  155  56  20
16  160  56  20
17  170  65  40
18  175  60  20

In [17]:
t = df["派閥"]
t

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [20]:
from sklearn import tree

In [21]:
# モデルの準備

model = tree.DecisionTreeClassifier(random_state = 0)

# 学習を実行
model.fit(x, t)

DecisionTreeClassifier(random_state=0)

In [22]:
# モデルを用いて予測する

# 身長170センチ、体重70キロ、年齢20代
taro = [170, 70, 20]

matsuda = [172, 65, 20]
asagi = [158, 48, 20]

model.predict([taro, matsuda, asagi])

/opt/homebrew/Caskroom/miniforge/base/envs/sukkiri/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['きのこ', 'きのこ', 'たけのこ'], dtype=object)

In [23]:
model.score(x, t)

1.0

In [24]:
# モデルの保存

import pickle

with open("KinokoTakenoko.pkl", "wb") as f:
    pickle.dump(model, f)

In [25]:
# モデルの読み込み

with open("KinokoTakenoko.pkl", "rb") as f:
    model2 = pickle.load(f)

In [26]:
model2.predict([taro, matsuda, asagi])

/opt/homebrew/Caskroom/miniforge/base/envs/sukkiri/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['きのこ', 'きのこ', 'たけのこ'], dtype=object)

In [27]:
# 練習4-1

data = {
    "データベースの試験得点": [70, 72, 75, 80],
    "ネットワークの試験得点": [80, 85, 79, 92]
}

df = pd.DataFrame(data)

In [28]:
df

   データベースの試験得点  ネットワークの試験得点
0           70           80
1           72           85
2           75           79
3           80           92

In [29]:
# 練習4-2

df.index = ["一郎", "次郎", "三郎", "太郎"]

In [30]:
df

    データベースの試験得点  ネットワークの試験得点
一郎           70           80
次郎           72           85
三郎           75           79
太郎           80           92

In [32]:
# 練習4-3

df2 = pd.read_csv("../sukkiri-ml-codes/datafiles/ex1.csv")

In [33]:
df2

          x0        x1        x2        x3  target
0   4.831144  4.695477  5.082239  4.501977       0
1   1.460716  1.216714  7.632439  2.359443       0
2   4.011018  4.515939  5.935904  5.981296       1
3   5.982382  4.965863  3.890340  2.480491       0
4   5.439188  5.911560  4.827872  6.653825       1
..       ...       ...       ...       ...     ...
95  4.343917  5.549315  5.925124  8.262054       1
96  5.612101  5.065338  4.338867  3.689948       0
97  3.375022  4.196423  6.534891  6.587676       1
98  4.069721  4.556587  5.884516  5.958792       1
99  4.079704  3.939691  5.657731  4.083713       0

[100 rows x 5 columns]

In [34]:
# 練習4-4

print(df2.index)

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71,
       72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89,
       90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype='int64')

In [35]:
df2.index

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71,
       72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89,
       90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype='int64')

In [36]:
# 練習4-5

df2.columns

Index(['x0', 'x1', 'x2', 'x3', 'target'], dtype='object')

In [38]:
# 練習4-6

df2[["x0", "x2"]]

          x0        x2
0   4.831144  5.082239
1   1.460716  7.632439
2   4.011018  5.935904
3   5.982382  3.890340
4   5.439188  4.827872
..       ...       ...
95  4.343917  5.925124
96  5.612101  4.338867
97  3.375022  6.534891
98  4.069721  5.884516
99  4.079704  5.657731

[100 rows x 2 columns]