In [1]:
import pandas as pd

df = pd.read_csv("../sukkiri-ml-codes/datafiles/ex2.csv")

In [2]:
df

          x0        x1        x2        x3  target
0  -1.244674  1.452124 -1.184385 -0.839169       1
1  -1.662920 -0.375804 -0.956673  0.380114       0
2  -1.926513       NaN -1.203904 -0.728801       1
3  -1.455014 -0.472972  0.500495 -0.809670       0
4  -1.255422  1.348182  0.827424 -0.334090       1
..       ...       ...       ...       ...     ...
95 -0.988204  0.934396  0.131865 -0.158939       1
96 -2.057470  2.869821 -0.887651 -0.741163       1
97 -1.669722  2.168812 -0.018603  0.607099       1
98 -1.011851  0.973641 -0.474993 -0.509644       1
99 -1.578463  2.076695  0.200962  2.533324       1

[100 rows x 5 columns]

In [5]:
df.shape

(100, 5)