In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.3'

In [2]:
df = pd.DataFrame(
    {"id": [1, 2, 3], "name": ["Alice", "Bob", "Charlie"], "age": [24, 50, 18], "Sex": ["female", "male", "male"]}
)

In [3]:
df

   id     name  age     Sex
0   1    Alice   24  female
1   2      Bob   50    male
2   3  Charlie   18    male

In [6]:
male = pd.get_dummies(df["Sex"], dtype=int)

In [7]:
male

   female  male
0       1     0
1       0     1
2       0     1